#container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70vw;
  margin: auto;
  background-color: rgb(176, 255, 229);
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  margin-top: 40px;
}
